In [1]:
import numpy as np

class AdalineGD(object):
    def __init__(self, eta = 0.01, n_iter = 50, random_state = 1):
        self.eta = eta
        self.n_iter = n_iter
        self.random_state = random_state
        
    def fit (self, X, y):
        rgen = np.random.RandomState(self.random_state)
        self.w_ = rgen.normal(loc = 0.0, scale = 0.01, size = 1 + X_train.shape[1])
        self.cost_ = []
        
        for i in range(self.n_iter):
            
            for xi, target in zip(X, y):
                net_input = self.net_input(xi)
                output = self.activation(net_input)
                errors = (target - output)
                for z in range(len(xi)):
                    self.w_[1+z] += self.eta * errors * xi[z]
                self.w_[0] += self.eta * errors
                cost = (errors ** 2).sum()/2.0
            self.cost_.append(errors)
            print(f"cost = {cost} and iteration = {i}")
        return self

    def net_input (self, X):
        sum_ = 0
        for xi in range(len(X)):
            sum_ += X[xi] * self.w_[1 + xi]
        sum_ += self.w_[0]
        return sum_
    
    def activation (self, X):
        return X
    
    def predict (self, X):
        if self.activation(self.net_input(X)) >= 0.0:
            return 1
        else:
            return -1

In [3]:
import pandas as pd
iris = pd.read_csv('iris.data', header = None, encoding = 'utf-8')
iris.tail()

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [4]:
iris.columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]

In [11]:
X = iris.loc[:, ['sepal_length', 'petal_length']]
X
X1 = X.values
X1
X_train = X[:40]
X_train = X_train.append(X[50:90])
X_test = X[40:50]
X_test = X_test.append(X[90:100])

In [12]:
X

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [13]:
y = iris.loc[:100, 'species']
y = np.where(y == 'Iris-setosa', -1, 1)
y_train = y[:40]
y_train = np.append(y_train, y[50:90])
y_test = y[40:50]
y_test = np.append(y_test, y[90:100])

In [14]:
ad = AdalineGD (eta = 0.01, n_iter = 20)
ad.fit(X_train.values, y_train)

cost = 0.0024840749931718375 and iteration = 0
cost = 0.0024072120817725346 and iteration = 1
cost = 0.0023452418542056195 and iteration = 2
cost = 0.002295709792818017 and iteration = 3
cost = 0.0022566084203049647 and iteration = 4
cost = 0.0022262866831148347 and iteration = 5
cost = 0.0022033794742501913 and iteration = 6
cost = 0.0021867525131947325 and iteration = 7
cost = 0.0021754589844459487 and iteration = 8
cost = 0.002168705219811545 and iteration = 9
cost = 0.0021658233702874317 and iteration = 10
cost = 0.0021662495081129925 and iteration = 11
cost = 0.002169505970871268 and iteration = 12
cost = 0.0021751870387265574 and iteration = 13
cost = 0.002182947246419098 and iteration = 14
cost = 0.002192491790826143 and iteration = 15
cost = 0.0022035686156561336 and iteration = 16
cost = 0.0022159618467726934 and iteration = 17
cost = 0.0022294863219090417 and iteration = 18
cost = 0.0022439830124699476 and iteration = 19

In [15]:
for i in range(20):
    if (y_test[i] != ad.predict(X_test.iloc[i].values)):
        print("Error!")
    else:
        print("Correct")

Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct

In [18]:
X_scale = X.copy()
X_scale

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [19]:
# Standardization
X_scale.loc[:, 'sepal_length'] = (X_scale.loc[:, 'sepal_length'] - X_scale.loc[:, 'sepal_length'].mean())/ X_scale.loc[:, 'sepal_length'].std()

In [20]:
# Standardization
X_scale.loc[:, 'petal_length'] = (X_scale.loc[:, 'petal_length'] - X_scale.loc[:, 'petal_length'].mean())/ X_scale.loc[:, 'petal_length'].std()

In [21]:
X_scale.head()

   sepal_length  petal_length
0     -0.897674     -1.336794
1     -1.139200     -1.336794
2     -1.380727     -1.393470
3     -1.501490     -1.280118
4     -1.018437     -1.336794

In [27]:
X_train = X_scale[:40]
X_train = X_train.append(X_scale[50:90])
len(X_train)

80

In [28]:
X_test = X_scale[40:50]
X_test = X_test.append(X_scale[90:100])
len(X_test)

20

In [29]:
ad2 = AdalineGD (eta = 0.01, n_iter = 20)
ad2.fit(X_train.values, y_train)

cost = 0.4112695473208781 and iteration = 0
cost = 0.28942346768592864 and iteration = 1
cost = 0.2071513806644118 and iteration = 2
cost = 0.15569979526573283 and iteration = 3
cost = 0.12262568208725201 and iteration = 4
cost = 0.10027236781129142 and iteration = 5
cost = 0.08436882022038394 and iteration = 6
cost = 0.072523721746525 and iteration = 7
cost = 0.06335811020891922 and iteration = 8
cost = 0.056046835583931774 and iteration = 9
cost = 0.05007610235410489 and iteration = 10
cost = 0.04511251618523794 and iteration = 11
cost = 0.04093053981403756 and iteration = 12
cost = 0.03737128304830617 and iteration = 13
cost = 0.034318506000777044 and iteration = 14
cost = 0.03168428532569565 and iteration = 15
cost = 0.029400214812846725 and iteration = 16
cost = 0.027411838814035625 and iteration = 17
cost = 0.025675013741310555 and iteration = 18
cost = 0.024153446277558246 and iteration = 19

In [31]:
for i in range(20):
    if (y_test[i] != ad2.predict(X_test.iloc[i].values)):
        print("Error!")
    else:
        print("Correct")

Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct